<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Tech Blog</h1>
        <nav>
            <ul>
                <li id="home" ><button><a href="/">Home</a></button></li>
                <li id="dashboard"><button><a href="/dashboard">Dashboard</a></button></li>
                <li id="login"><button><a href="/login">Login</a></button></li>
                <li id="register"><button><a href="/register">Register</a></button></li>
                <li id="logout">
                    <form action="/api/users/logout" method="POST">
                        <button class="btn" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>

    </header>

    {{{body}}}

<script src="/js/logout.js"></script>

</body>
</html>