<header>
    <h1>Your Dashboard</h1>
</header>

<main>
    <section>
        <h2>Your Posts</h2>
        <article class="post" id="user-post-container"></article>
    </section>
    
    <section>
        <button><a href="/posts/new" class="btn">New Post</a></button>
        
    </section>
</main>

<script src="/js/dashboard.js"></script>