<header>
    <h1>Welcome</h1>
</header>

<main>
    {{#if posts.length}}
        {{#each posts}}
            {{> _post this}}
        {{/each}}
    {{else}}
        <p>No posts yet</p>
    {{/if}}
</main>
