<header>
        <h1>Login</h1>
</header>

    <main>
        <form id="loginForm" action="/api/users/login" method="POST">
            <div>
                <label for="username-login">Username:</label>
                <input type="text" id="username-login" name="username" autocomplete="username" required>
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" name="password" autocomplete="current-password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>New User? <a href="/register"> Register here</a></p>
    </main>

<script src="/js/login.js"></script>